<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Bundle Name="FifthInstallerBootstrapper" Version="1.0.0.0" Manufacturer="Sciex" UpgradeCode="e371c493-06bc-448b-beba-25ca4ddb6b2f">
		<BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense" />

		<Chain>
			<!-- TODO: Define the list of chained packages. -->
			<!-- <MsiPackage SourceFile="path\to\your.msi" /> -->
      <MsiPackage Id="FifthInstaller4BMsi"
                  SourceFile="$(var.FifthInstaller4BS.TargetPath)"
                  Compressed="yes"
                  Vital="yes"
                  Cache="yes"
                  Visible ="yes">
      </MsiPackage>
		</Chain>
	</Bundle>
</Wix>
