<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
	 xmlns:bal="http://schemas.microsoft.com/wix/BalExtension"
   xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Bundle Name="Bootstrapper" Version="1.0.0.0" Manufacturer="Sciex" UpgradeCode="06A19F6F-688C-44A6-B3D3-26F72DE50689"
			DisableModify="no">
    <BootstrapperApplicationRef Id="ManagedBootstrapperApplicationHost">
      <Payload Name="BootstrapperCore.config" SourceFile="$(var.InstallerUI.TargetDir)InstallerUI.BootstrapperCore.config" />
      <Payload SourceFile="$(var.InstallerUI.TargetPath)" />
      <Payload SourceFile="$(var.InstallerUI.TargetDir)Microsoft.Practices.Prism.Mvvm.dll" />
      <Payload SourceFile="$(var.InstallerUI.TargetDir)Microsoft.Practices.Prism.Mvvm.Desktop.dll" />
      <Payload SourceFile="$(var.InstallerUI.TargetDir)Microsoft.Practices.Prism.SharedInterfaces.dll" />
      <Payload SourceFile="$(var.InstallerUI.TargetDir)Newtonsoft.Json.dll" />
      <Payload SourceFile="Settings.json" />
      <PayloadGroupRef Id="LicensePayload"/>
    </BootstrapperApplicationRef>

    <!--<RelatedBundle Id="{06A19F6F-688C-44A6-B3D3-26F72DE50689}" Action="Upgrade"/>-->
    
    <!-- Check if FirstInstallerBootstrapper is installed. This is to make sure that uninstall removes the FirstInstallerBootstrapper when it is installed and also prevent installing if its already installed-->
    <!--<util:FileSearch
      Id='FileSearchCheckIfFirstBootstrapperInstallerInstalled'
      Variable="IsFirstBootstrapperInstallerInstalled"
      Result="exists"
      Path="[ProgramFilesFolder]\CustomBurnUISample\FirstInstaller4BS\FirstInstaller4BSReadMe.txt"/>-->

    <util:RegistrySearch Root="HKCU"
                         Key="Software\MySciex\FirstInstallerBootstrapper\"
                         Value="Installed"
                         Result="exists"
                         Variable="IsFirstBootstrapperInstallerInstalled" />
    
    <!-- Check if SecondInstallerBootstrapper is installed. This is to make sure that uninstall removes the SecondInstallerBootstrapper when it is installed and also prevent installing if its already installed-->
    <util:FileSearch
      Id='FileSearchCheckIfSecondBootstrapperInstallerInstalled'
      Variable="IsSecondBootstrapperInstallerInstalled"
      Result="exists"
      Path="[ProgramFilesFolder]\CustomBurnUISample\SecondInstaller4BS\SecondInstaller4BSReadMe.txt"/>

    <!-- Check if ThirdInstallerBootstrapper is installed. This is to make sure that uninstall removes the ThirdInstallerBootstrapper when it is installed and also prevent installing if its already installed-->
    <util:FileSearch
      Id='FileSearchCheckIfThirdBootstrapperInstallerInstalled'
      Variable="IsThirdBootstrapperInstallerInstalled"
      Result="exists"
      Path="[ProgramFilesFolder]\CustomBurnUISample\ThirdInstaller4BS\ThirdInstaller4BSReadMe.txt"/>

    <!-- Check if FourthInstallerBootstrapper is installed. This is to make sure that uninstall removes the FourthInstallerBootstrapper when it is installed and also prevent installing if its already installed-->
    <util:FileSearch
      Id='FileSearchCheckIfFourthBootstrapperInstallerInstalled'
      Variable="IsFourthBootstrapperInstallerInstalled"
      Result="exists"
      Path="[ProgramFilesFolder]\CustomBurnUISample\FourthInstaller4BS\FourthInstaller4BSReadMe.txt"/>

    <!-- Check if FifthInstallerBootstrapper is installed. This is to make sure that uninstall removes the FifthInstallerBootstrapper when it is installed and also prevent installing if its already installed-->
    <util:FileSearch
      Id='FileSearchCheckIfFifthBootstrapperInstallerInstalled'
      Variable="IsFifthBootstrapperInstallerInstalled"
      Result="exists"
      Path="[ProgramFilesFolder]\CustomBurnUISample\FifthInstaller4BS\FifthInstaller4BSReadMe.txt"/>

    <!-- Variables modified by custom WPF UI -->
    <Variable bal:Overridable="yes" Name="Prerequisite" Value=""/>
    <Variable bal:Overridable="yes" Name="InstallLevel" Value="1"/>
    <Variable bal:Overridable="yes" Name="FirstInstaller" Value="Skip"/>
    <Variable bal:Overridable="yes" Name="SecondInstaller" Value="Skip"/>
    <Variable bal:Overridable="yes" Name="ThirdInstaller" Value="Skip"/>
    <Variable bal:Overridable="yes" Name="FourthInstaller" Value="Skip"/>
    <Variable bal:Overridable="yes" Name="FifthInstaller" Value="Skip"/>
    <Variable bal:Overridable="yes" Name="FirstInstallerBootstrapper" Value="Skip"/>
    <Variable bal:Overridable="yes" Name="SecondInstallerBootstrapper" Value="Skip"/>
    <Variable bal:Overridable="yes" Name="ThirdInstallerBootstrapper" Value="Skip"/>
    <Variable bal:Overridable="yes" Name="FourthInstallerBootstrapper" Value="Skip"/>
    <Variable bal:Overridable="yes" Name="FifthInstallerBootstrapper" Value="Skip"/>
                                          
    <!--https://teamcity.netadds.net/repository/download/SciexPdv_LayeredBuilds_ApplicationsAndProducts_BuildInstallers/59464259:id/
                      output.zip!/Setup/Install/postgresql-16.2-1-windows-x64.exe-->
    <Chain>
      <PackageGroupRef Id='NetFx45Web' />
      <MsiPackage Id="FirstInstaller" 
        SourceFile="$(var.FirstInstaller.TargetPath)" 
        Visible="yes"
        InstallCondition="FirstInstaller = &quot;Install&quot; OR FirstInstaller = &quot;Update&quot; OR FirstInstaller = &quot;Repair&quot;">
        <MsiProperty Name="PREREQUISITE" Value="[Prerequisite]"/>
        <MsiProperty Name="INSTALLLEVEL" Value="[InstallLevel]"/>
      </MsiPackage>
      <MsiPackage Id="SecondInstaller" 
        SourceFile="$(var.SecondInstaller.TargetPath)" 
        Visible="yes"
        InstallCondition="SecondInstaller = &quot;Install&quot; OR SecondInstaller = &quot;Update&quot; OR SecondInstaller = &quot;Repair&quot;">
        <MsiProperty Name="PREREQUISITE" Value="[Prerequisite]"/>
        <MsiProperty Name="INSTALLLEVEL" Value="[InstallLevel]"/>
      </MsiPackage>
      <MsiPackage Id="ThirdInstaller"
                  SourceFile="$(var.ThirdInstaller.TargetPath)"
                  Visible="yes"
                  InstallCondition="ThirdInstaller = &quot;Install&quot; OR ThirdInstaller = &quot;Update&quot; OR ThirdInstaller = &quot;Repair&quot;">
        <MsiProperty Name="PREREQUISITE" Value="[Prerequisite]"/>
        <MsiProperty Name="INSTALLLEVEL" Value="[InstallLevel]"/>
      </MsiPackage>
      <MsiPackage Id="FourthInstaller"
                  SourceFile="$(var.FourthInstaller.TargetPath)"
                  Visible="yes"
                  InstallCondition="FourthInstaller = &quot;Install&quot; OR FourthInstaller = &quot;Update&quot; OR FourthInstaller = &quot;Repair&quot;">
        <MsiProperty Name="PREREQUISITE" Value="[Prerequisite]"/>
        <MsiProperty Name="INSTALLLEVEL" Value="[InstallLevel]"/>
      </MsiPackage>
      <MsiPackage Id="FifthInstaller"
                  SourceFile="$(var.FifthInstaller.TargetPath)"
                  Visible="yes"
                  InstallCondition="FifthInstaller = &quot;Install&quot; OR FifthInstaller = &quot;Update&quot; OR FifthInstaller = &quot;Repair&quot;">
        <MsiProperty Name="PREREQUISITE" Value="[Prerequisite]"/>
        <MsiProperty Name="INSTALLLEVEL" Value="[InstallLevel]"/>
      </MsiPackage>
      <ExePackage Id="FirstInstallerBootstrapper"
                  Name="FirstInstallerBootstrapper.exe"
                  DownloadUrl="http://localhost/MyMsi/CustomBurnUI/Versions/{0}/FirstInstallerBootstrapper.exe"
                  InstallCommand="/S"
                  UninstallCommand="/uninstall /quiet"
                  DetectCondition="IsFirstBootstrapperInstallerInstalled"
                  Compressed="no"
                  Cache="no"
                  Permanent="no"
                  Vital="yes"
                  SuppressSignatureVerification="no"
                  InstallCondition="FirstInstallerBootstrapper = &quot;Install&quot; OR FirstInstallerBootstrapper = &quot;Update&quot;  OR FirstInstallerBootstrapper = &quot;Repair&quot;">
        <RemotePayload
          ProductName="FirstInstallerBootstrapper"
          Description="FirstInstallerBootstrapper"
          Hash="3F9D579DD097846FB15CF92FC88584DC3A2D232C"
          CertificatePublicKey="126C892FD591AD2CE058EC194DB5CE85E528A9BB"
          CertificateThumbprint="AA9325AB2EDFF4A5D745205CBD25B440CB89FDEB"
          Size="586072"
          Version="1.0.0.0"/>
      </ExePackage>
      <ExePackage Id="SecondInstallerBootstrapper"
                  Name="SecondInstallerBootstrapper.exe"
                  DownloadUrl="http://localhost/MyMsi/CustomBurnUI/Versions/{0}/SecondInstallerBootstrapper.exe"
                  InstallCommand="/S"
                  UninstallCommand="/uninstall /quiet"
                  DetectCondition="IsSecondBootstrapperInstallerInstalled"
                  Compressed="no"
                  Cache="no"
                  Permanent="no"
                  Vital="yes"
                  SuppressSignatureVerification="no"
                  InstallCondition="SecondInstallerBootstrapper = &quot;Install&quot; OR SecondInstallerBootstrapper = &quot;Update&quot;  OR SecondInstallerBootstrapper = &quot;Repair&quot;">
        <RemotePayload
          ProductName="SecondInstallerBootstrapper"
          Description="SecondInstallerBootstrapper"
          Hash="EA923B18F48C44637FD3295BC03EB4028ED88C07"
          CertificatePublicKey="126C892FD591AD2CE058EC194DB5CE85E528A9BB"
          CertificateThumbprint="AA9325AB2EDFF4A5D745205CBD25B440CB89FDEB"
          Size="586192"
          Version="1.0.0.0"/>
      </ExePackage>
      <ExePackage Id="ThirdInstallerBootstrapper"
                  Name="ThirdInstallerBootstrapper.exe"
                  DownloadUrl="http://localhost/MyMsi/CustomBurnUI/Versions/{0}/ThirdInstallerBootstrapper.exe"
                  InstallCommand="/S"
                  UninstallCommand="/uninstall /quiet"
                  DetectCondition="IsThirdBootstrapperInstallerInstalled"
                  Compressed="no"
                  Cache="no"
                  Permanent="no"
                  Vital="yes"
                  SuppressSignatureVerification="no"
                  InstallCondition="ThirdInstallerBootstrapper = &quot;Install&quot; OR ThirdInstallerBootstrapper = &quot;Update&quot;  OR ThirdInstallerBootstrapper = &quot;Repair&quot;">
        <RemotePayload
          ProductName="ThirdInstallerBootstrapper"
          Description="ThirdInstallerBootstrapper"
          Hash="EA923B18F48C44637FD3295BC03EB4028ED88C07"
          CertificatePublicKey="126C892FD591AD2CE058EC194DB5CE85E528A9BB"
          CertificateThumbprint="AA9325AB2EDFF4A5D745205CBD25B440CB89FDEB"
          Size="586192"
          Version="1.0.0.0"/>
      </ExePackage>
      <ExePackage Id="FourthInstallerBootstrapper"
                  Name="FourthInstallerBootstrapper.exe"
                  DownloadUrl="http://localhost/MyMsi/CustomBurnUI/Versions/{0}/FourthInstallerBootstrapper.exe"
                  InstallCommand="/S"
                  UninstallCommand="/uninstall /quiet"
                  DetectCondition="IsFourthBootstrapperInstallerInstalled"
                  Compressed="no"
                  Cache="no"
                  Permanent="no"
                  Vital="yes"
                  SuppressSignatureVerification="no"
                  InstallCondition="FourthInstallerBootstrapper = &quot;Install&quot; OR FourthInstallerBootstrapper = &quot;Update&quot;  OR FourthInstallerBootstrapper = &quot;Repair&quot;">
        <RemotePayload
          ProductName="FourthInstallerBootstrapper"
          Description="FourthInstallerBootstrapper"
          Hash="EA923B18F48C44637FD3295BC03EB4028ED88C07"
          CertificatePublicKey="126C892FD591AD2CE058EC194DB5CE85E528A9BB"
          CertificateThumbprint="AA9325AB2EDFF4A5D745205CBD25B440CB89FDEB"
          Size="586192"
          Version="1.0.0.0"/>
      </ExePackage>
      <ExePackage Id="FifthInstallerBootstrapper"
                  Name="FifthInstallerBootstrapper.exe"
                  DownloadUrl="http://localhost/MyMsi/CustomBurnUI/Versions/{0}/FifthInstallerBootstrapper.exe"
                  InstallCommand="/S"
                  UninstallCommand="/uninstall /quiet"
                  DetectCondition="IsFifthBootstrapperInstallerInstalled"
                  Compressed="no"
                  Cache="no"
                  Permanent="no"
                  Vital="yes"
                  SuppressSignatureVerification="no"
                  InstallCondition="FifthInstallerBootstrapper = &quot;Install&quot; OR FifthInstallerBootstrapper = &quot;Update&quot;  OR FifthInstallerBootstrapper = &quot;Repair&quot;">
        <RemotePayload
          ProductName="FifthInstallerBootstrapper"
          Description="FifthInstallerBootstrapper"
          Hash="EA923B18F48C44637FD3295BC03EB4028ED88C07"
          CertificatePublicKey="126C892FD591AD2CE058EC194DB5CE85E528A9BB"
          CertificateThumbprint="AA9325AB2EDFF4A5D745205CBD25B440CB89FDEB"
          Size="586192"
          Version="1.0.0.0"/>
      </ExePackage>
    </Chain>
  </Bundle>

  <!-- License data -->
  <Fragment>
    <!-- Payload for license file -->
    <PayloadGroup Id="LicensePayload">
      <Payload SourceFile="License.txt" />
    </PayloadGroup>

    <!-- Add custom table with reference to license file -->
    <CustomTable Id='LicenseInformation'>
      <Row>
        <Data Column='LicenseFile'>License.txt</Data>
      </Row>
    </CustomTable>
  </Fragment>

  <!-- Custom table definition for license file data -->
  <Fragment>
    <CustomTable Id='LicenseInformation' BootstrapperApplicationData='yes'>
      <Column Id='LicenseFile' Category='Text' Type='string' Width='0' Nullable='yes' PrimaryKey='yes' />
    </CustomTable>
  </Fragment>
</Wix>