<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
	 xmlns:bal="http://schemas.microsoft.com/wix/BalExtension"
   xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Bundle Name="Bootstrapper" Version="1.0.0.0" Manufacturer="Sciex" UpgradeCode="06A19F6F-688C-44A6-B3D3-26F72DE50689"
			DisableModify="no">
    <BootstrapperApplicationRef Id="ManagedBootstrapperApplicationHost">
      <Payload Name="BootstrapperCore.config" SourceFile="$(var.InstallerUI.TargetDir)InstallerUI.BootstrapperCore.config" />
      <Payload SourceFile="$(var.InstallerUI.TargetPath)" />
      <Payload SourceFile="$(var.InstallerUI.TargetDir)Microsoft.Practices.Prism.Mvvm.dll" />
      <Payload SourceFile="$(var.InstallerUI.TargetDir)Microsoft.Practices.Prism.Mvvm.Desktop.dll" />
      <Payload SourceFile="$(var.InstallerUI.TargetDir)Microsoft.Practices.Prism.SharedInterfaces.dll" />
      <Payload SourceFile="$(var.InstallerUI.TargetDir)Newtonsoft.Json.dll" />
      <Payload SourceFile="Settings.json" />
      <PayloadGroupRef Id="LicensePayload"/>
    </BootstrapperApplicationRef>

    <!--<RelatedBundle Id="{06A19F6F-688C-44A6-B3D3-26F72DE50689}" Action="Upgrade"/>-->
    
    <!-- Check if FirstInstaller is installed. This is to make sure that uninstall removes the FirstInstaller when it is installed and also prevent installing if its already installed-->
    <util:FileSearch
      Id='FileSearchCheckIfFirstInstallerInstalled'
      Variable="IsFirstInstallerInstalled"
      Result="exists"
      Path="[ProgramFilesFolder]\CustomBurnUISample\First Installer\FirstInstallerReadMe.txt"/>

    <!-- Check if SecondInstaller is installed. This is to make sure that uninstall removes the SecondInstaller when it is installed and also prevent installing if its already installed-->
    <util:FileSearch
      Id='FileSearchCheckIfSecondInstallerInstalled'
      Variable="IsSecondInstallerInstalled"
      Result="exists"
      Path="[ProgramFilesFolder]\CustomBurnUISample\Second Installer\SecondInstallerReadMe.txt"/>

    <!-- Variables modified by custom WPF UI -->
    <Variable bal:Overridable="yes" Name="Prerequisite" Value=""/>
    <Variable bal:Overridable="yes" Name="InstallLevel" Value="1"/>
    <Variable bal:Overridable="yes" Name="FirstInstaller" Value="Skip"/>
    <Variable bal:Overridable="yes" Name="SecondInstaller" Value="Skip"/>
    <Variable bal:Overridable="yes" Name="ThirdInstaller" Value="Skip"/>
    <Variable bal:Overridable="yes" Name="FourthInstaller" Value="Skip"/>
    <Variable bal:Overridable="yes" Name="FifthInstaller" Value="Skip"/>
    <Variable bal:Overridable="yes" Name="FirstInstallerBootStrapper" Value="Skip"/>
    <Variable bal:Overridable="yes" Name="SecondInstallerBootStrapper" Value="Skip"/>

    <!--https://teamcity.netadds.net/repository/download/SciexPdv_LayeredBuilds_ApplicationsAndProducts_BuildInstallers/59464259:id/
                      output.zip!/Setup/Install/postgresql-16.2-1-windows-x64.exe-->
    <Chain>
      <PackageGroupRef Id='NetFx45Web' />
      <MsiPackage Id="FirstInstaller" 
        SourceFile="$(var.FirstInstaller.TargetPath)" 
        Visible="yes"
        InstallCondition="FirstInstaller = &quot;Install&quot; OR FirstInstaller = &quot;Update&quot;">
        <MsiProperty Name="PREREQUISITE" Value="[Prerequisite]"/>
        <MsiProperty Name="INSTALLLEVEL" Value="[InstallLevel]"/>
      </MsiPackage>
      <MsiPackage Id="SecondInstaller" 
        SourceFile="$(var.SecondInstaller.TargetPath)" 
        Visible="yes"
        InstallCondition="SecondInstaller = &quot;Install&quot; OR SecondInstaller = &quot;Update&quot;">
        <MsiProperty Name="PREREQUISITE" Value="[Prerequisite]"/>
        <MsiProperty Name="INSTALLLEVEL" Value="[InstallLevel]"/>
      </MsiPackage>
      <MsiPackage Id="ThirdInstaller"
                  SourceFile="$(var.ThirdInstaller.TargetPath)"
                  Visible="yes"
                  InstallCondition="ThirdInstaller = &quot;Install&quot; OR ThirdInstaller = &quot;Update&quot;">
        <MsiProperty Name="PREREQUISITE" Value="[Prerequisite]"/>
        <MsiProperty Name="INSTALLLEVEL" Value="[InstallLevel]"/>
      </MsiPackage>
      <MsiPackage Id="FourthInstaller"
                  SourceFile="$(var.FourthInstaller.TargetPath)"
                  Visible="yes"
                  InstallCondition="FourthInstaller = &quot;Install&quot; OR FourthInstaller = &quot;Update&quot;">
        <MsiProperty Name="PREREQUISITE" Value="[Prerequisite]"/>
        <MsiProperty Name="INSTALLLEVEL" Value="[InstallLevel]"/>
      </MsiPackage>
      <MsiPackage Id="FifthInstaller"
                  SourceFile="$(var.FifthInstaller.TargetPath)"
                  Visible="yes"
                  InstallCondition="FifthInstaller = &quot;Install&quot; OR FifthInstaller = &quot;Update&quot;">
        <MsiProperty Name="PREREQUISITE" Value="[Prerequisite]"/>
        <MsiProperty Name="INSTALLLEVEL" Value="[InstallLevel]"/>
      </MsiPackage>
      <ExePackage Id="FirstInstallerBootstrapper"
                  Name="FirstInstallerBootstrapper.exe"
                  DownloadUrl="http://{0}/MyMsi/CustomBurnUI/FirstInstallerBootstrapper.exe"
                  InstallCommand="/S"
                  UninstallCommand="/uninstall /quiet"
                  DetectCondition="IsFirstInstallerInstalled"
                  Compressed="no"
                  Cache="no"
                  Permanent="no"
                  Vital="yes"
                  SuppressSignatureVerification="no"
                  InstallCondition="FirstInstallerBootStrapper = &quot;Install&quot; OR FirstInstallerBootStrapper = &quot;Update&quot;">
        <RemotePayload
          ProductName="FirstInstallerBootstrapper"
          Description="FirstInstallerBootstrapper"
          Hash="3F9D579DD097846FB15CF92FC88584DC3A2D232C"
          CertificatePublicKey="126C892FD591AD2CE058EC194DB5CE85E528A9BB"
          CertificateThumbprint="AA9325AB2EDFF4A5D745205CBD25B440CB89FDEB"
          Size="586072"
          Version="1.0.0.0"/>
      </ExePackage>
      <ExePackage Id="SecondInstallerBootstrapper"
                  Name="SecondInstallerBootstrapper.exe"
                  DownloadUrl="http://{0}/MyMsi/CustomBurnUI/SecondInstallerBootstrapper.exe"
                  InstallCommand="/S"
                  UninstallCommand="/uninstall /quiet"
                  DetectCondition="IsSecondInstallerInstalled"
                  Compressed="no"
                  Cache="no"
                  Permanent="no"
                  Vital="yes"
                  SuppressSignatureVerification="no"
                  InstallCondition="SecondInstallerBootStrapper = &quot;Install&quot; OR SecondInstallerBootStrapper = &quot;Update&quot;">
        <RemotePayload
          ProductName="SecondInstallerBootstrapper"
          Description="SecondInstallerBootstrapper"
          Hash="EA923B18F48C44637FD3295BC03EB4028ED88C07"
          CertificatePublicKey="126C892FD591AD2CE058EC194DB5CE85E528A9BB"
          CertificateThumbprint="AA9325AB2EDFF4A5D745205CBD25B440CB89FDEB"
          Size="586192"
          Version="1.0.0.0"/>
      </ExePackage>
    </Chain>
  </Bundle>

  <!-- License data -->
  <Fragment>
    <!-- Payload for license file -->
    <PayloadGroup Id="LicensePayload">
      <Payload SourceFile="License.txt" />
    </PayloadGroup>

    <!-- Add custom table with reference to license file -->
    <CustomTable Id='LicenseInformation'>
      <Row>
        <Data Column='LicenseFile'>License.txt</Data>
      </Row>
    </CustomTable>
  </Fragment>

  <!-- Custom table definition for license file data -->
  <Fragment>
    <CustomTable Id='LicenseInformation' BootstrapperApplicationData='yes'>
      <Column Id='LicenseFile' Category='Text' Type='string' Width='0' Nullable='yes' PrimaryKey='yes' />
    </CustomTable>
  </Fragment>
</Wix>