<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Bundle Name="FourthInstallerBootstrapper" Version="1.0.0.0" Manufacturer="Sciex" UpgradeCode="20f465a6-7009-447a-88bb-f779c2335de7">
		<BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense" />

		<Chain>
			<!-- TODO: Define the list of chained packages. -->
			<!-- <MsiPackage SourceFile="path\to\your.msi" /> -->
      <MsiPackage Id="FourthInstaller4BMsi"
                  SourceFile="$(var.FourthInstaller4BS.TargetPath)"
                  Compressed="yes"
                  Vital="yes"
                  Cache="yes"
                  Visible ="yes">
      </MsiPackage>
		</Chain>
	</Bundle>
</Wix>
